.login-form{
    background-color: rgb(233, 245, 200);
    display: grid;
    border: 1px solid #000;
    color: rgb(13, 13, 13);
    overflow: auto;
}
.quotes{
    background-color: rgb(2, 2, 2);
    border: 1px solid #000;
    height: auto;
    color: white;
    overflow: auto;
}

.carousel-inner {
    padding: 0% 20% 10% 20%;
}



