.questionaire-form{
    border: 1px solid rgb(255, 255, 255);
    background-color: aliceblue;
    border-radius: 10px;
    width: 80vw;
    height: 70vh;
    margin: 3% 10% 5% 10%;
    text-align: center;
}
.questionaire-image{
    width: 50vh;
    height: auto;
    text-align: center;
    padding: auto;
    margin-top: 2%;
    margin-left: 25vw;
}
.text-questionaire{
    margin-top: 5%;
}
#description-questionaire{
    margin-top: 35vh;
}