.video-thank {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
}

/********* Tilte *********/
.header {
    background-color: #06477c;
    width: 40vw;
    height: auto;
    color: white;
    padding: 1% 1% 1% 2%;
    margin: 2%;
    border-radius: 5px;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0% 0% 0% 7%;
  }

  /********* Form Contact ********/
#contact-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 5% 25% 5%; 
    border: 1px solid rgb(221, 239, 252);
    box-shadow: 5px 10px 10px 5px rgb(218 233 243);
    border-radius: 10px;
    width: 50vw;
    height: auto;
  }
/*RESPONSIVE */
@media screen and (max-width: 600px) {
    #contactForm {
      width: 90%;
    }
  }
  ol.forms {
    float: center;
    list-style: none;
    margin: 10;
    width: 100%;
  }
  
  ol.forms li {
    clear: both;
    float: center;
    margin-bottom: 18px;
    position: relative;
    width: 100%;
  }
  
  ol.forms label {
    font-weight: 600;
    font-size: 1rem;
  }
  
  ol.forms input,
  ol.forms textarea {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid rgb(203, 220, 252);
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  }
  
  ol.forms input:hover,
  ol.forms textarea:hover {
    background: none repeat scroll 0 0 #f1f5fa;
    border: 1px solid rgb(116, 128, 150);
    padding: 5px;
    width: 400px;
  }
  
  ol.forms textarea {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid rgb(116, 128, 150);
    padding: 5px;
    width: 400px;
    height: 200px;
  }
  
  ol.forms textarea:hover {
    background: none repeat scroll 0 0 #f1f5fa;
    border: 1px solid #8e9ba9;
    padding: 5px;
    width: 400px;
  }
  
  ol.forms li.screenReader {
    margin-bottom: 0;
  }
  
  ol.forms li.buttons button:hover {
    background: #480170;
    color: white;
  }
  
  ol.forms li.inline input {
    width: auto;
  }
  
  ol.forms li.inline label {
    display: inline;
    float: none;
    width: auto;
  }