.footer {
    background-color: #4c2a4e;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
    color:black;
    vertical-align: top;
    margin-right: 20px;
    height: 40px;
    line-height: 30px;
}