* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .ressources-form {
    width: 70vw;
    float: right;
    margin: 2%;
    padding: 2%;
    border: 1px solid #161a2b;
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }