.signup-form{
    margin-top: 8%;
    margin-left: 30%;
    position: absolute;
}
.title-create{
    padding: 5px;
    margin-bottom: 5%;
    text-align: center;
    color:#4c2a4e;
}
.btn-create{
    margin: 0% 2% 2% 35%;
    padding: auto;
    border-radius: 4px;
    align-items: center;

}
/*RESPONSIVE */
@media screen and (max-width: 600px) {
    .signup-form{
        margin-top: 15%;
        margin-left: 20%;
    }
    #title-create {
        margin-bottom: 5%;
    }
  }